.projects-box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}

.projects-info  img {
    height: 280px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.projects-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    margin-right: 10px;
    border-radius: 10px;
    padding: 3rem ;

    transition: all 0.3s ease-in-out;
    background-color: var(--primary-color);
}

.projects-info:hover {
    background-color: var(--primary-color);
    transform: scale(1.05);
    border: 0px;
}


.projects-info h2 {
    font-size: 2.3rem;
    padding-bottom: 1rem;
}

.projects-info p {
   font-size: 1.4rem;
   text-align: justify;
}

.projects-info a {
    text-align: center;
}

.tecnologias {
    padding: 2rem 0px 2rem 0px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.tecnologias i {
    font-size: 4.2rem;
    transition: all 0.3s ease-in-out;
}