:root {
    --primary-color: #1c1b29; 
    --secondary-color: #b39ddb; 
    --tertiary-color: #302f3f; 
    --ter-color: #b39ddb; 
    --text-color: #e0e0e0; 
    --accent-color: #6a0dad; 
    --hover-color: #3e3352;

}

@keyframes cursor {
    to {
        border-left: 2px solid var(--secondary-color);
    }
}

@keyframes words {

    0%,
    20% {
        content: "Full Stack";
    }

    21%,
    40% {
        content: "Web Designer";
    }

    41%,
    60% {
        content: "UI / UX Designer";
    }

    61%,
    80% {
        content: "Web Developer";
    }

    81%,
    100% {
        content: "Freelancer";
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }

}

html {
    font-size: 60%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--primary-color);
    color: var(--text-color);
    overflow-x: hidden;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--secondary-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #000;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn-project {
    border-radius: 5px;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--secondary-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;

    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    z-index: 5;
    justify-content: space-between;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 25px var(--secondary-color);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}

.navbar a:hover,
.navbar a.active {
    color: var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
}

#menu-icon,
#x-icon {
    font-size: 3.6rem;
    color: var(--secondary-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 30rem;
}

section:nth-child(2) {
    padding-bottom: 0rem;
    background-image: url(../assets/img/onda-bottom.png);
    background-position: bottom;
    background-repeat: no-repeat;
}

section:nth-child(3) {
    background-color: var(--tertiary-color);
}

section:nth-child(4) {
    background-image: url(../assets/img/onda-top.png);
    background-position: top;
    background-repeat: no-repeat;
}

section:nth-child(5) {
    background-color: var(--tertiary-color);
}

.heading {
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}


::-webkit-scrollbar {
    width: 15px; 
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color); 
    border-radius: 20px; 
}

::-webkit-scrollbar-track {
    background-color: transparent; 
    border-radius: 20px;
}

footer {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: r;
}


footer nav a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
}

.social-icons-footer {
    /* background-color: red; */
    text-align: center;
}

.social-icons-footer  {
    font-size: 1.5rem;

}

